{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    // "plugin:import/recommended",
    // "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier"
  ],
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "no-unused-vars": "off",
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "off",
    "react/prop-types": "off"
  },
  "env": {
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "globals": {
    "React": true,
    "google": true,
    "mount": true,
    "mountWithRouter": true,
    "shallow": true,
    "shallowWithRouter": true,
    "context": true,
    "expect": true,
    "jsdom": true,
    "JSX": true,
    "window": true,
    "console": true,
    "document": true,
    "setTimeout": true,
    "clearTimeout": true,
    "localStorage": true,
    "HTMLDivElement": true,
    "HTMLElement": true,
    "KeyboardEvent": true,
    "MouseEvent": true,
    "DOMRect": true,
    "URLSearchParams": true,
    "HTMLButtonElement": true,
    "URL": true
  }
}